<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mybatis.mapper.UserMapper">

<!--    <cache/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="findById" resultType="user">
        select uid, name, age from user where uid = #{uid}
    </select>

    <select id="findAll" resultType="user">
        select uid, name, age from user
    </select>

    <update id="update">
        update user
        <set>
            <if test="user.name != null || user.name != ''">name = #{user.name},</if>
            <if test="user.age != null">age = #{user.age},</if>
        </set>
        where uid = #{user.uid}
    </update>

    <insert id="add" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid" parameterType="user">
        insert into user(name, age) values (#{name}, #{age})
    </insert>

    <insert id="addBatch" useGeneratedKeys="true" keyColumn="uid" keyProperty="uid">
        insert into user(name, age) values
        <foreach collection="list" item="user" separator=",">
            (#{user.name}, #{user.age})
        </foreach>
    </insert>
</mapper>